# Dependencias
node_modules/

# Variaveis de Ambiente
.env
.env.local

# Autenticacao e Sessoes de Terceiros
.wwebjs_auth/
.wwebjs_cache/

# Bancos de Dados Locais
*.sqlite
*.sqlite-journal
*.db

# Logs e arquivos do sistema
npm-debug.log*
yarn-debug.log*
.DS_Store
